#content-container {
   width: -moz-calc(100% - 20px);
   width: -webkit-calc(100% - 20px);
   width: calc(100% - 20px);
   margin: 0 auto
}

input[type=checkbox][disabled]{
   cursor: auto;
}

table {
   margin-top: 10px;
}

th{
   background-color: rgba(69, 171, 255, 0.42);
}

tr:nth-child(2n){
   background-color: #eeefe6;
}

.btn {
   /*margin: 2px;*/
   border-radius: 0;
}

.btn-outline:hover {
   color: #fff;
   background-color: #378fd4;
}

.btn-outline {
   color: #fff;
   background-color: #45abff;
}

.collapse {
   display: block;
}

.container .navbar-collapse {
   margin-left: -10px;
}

.navbar {
   border-bottom: 1px solid #ddd;
   margin-left: -15px !important;
}