@(message: String, id : Long)

@main("Field Handler") {

    <script>
        if (@id != 0){
            window.onload = function() {
                displayObjectOnPage("@routes.Application.getTableFieldJson(id: Long)");
                document.getElementById('tableFieldType' ).setAttribute('disabled', '');
                showTextarea();
            }
        }

        function showTextarea() {
            var type = $("#tableFieldType option:selected").val();
            if (type == 'COMBO_BOX' || type == 'RADIO_BUTTON'){
                $('#option' ).show();
            }
            if (type != 'COMBO_BOX' && type != 'RADIO_BUTTON'){
                $("#option").hide();
            }
        }

        function checkRequired(){
            var ifRequired = document.getElementById('tableFieldRequired' ).checked;
            var element = document.getElementById('tableFieldActive' );
            if (ifRequired){
                element.checked = 'checked';
                element.setAttribute('disabled', '');
            }
            if (!ifRequired){
                element.removeAttribute('disabled');
            }
        }
    </script>

    <form method="post" id='submit' name="submit" onload="showTextarea()">
        <input type="hidden" name="id" id="id" />
        Name
        <input type="text" name="label" id="label"/>
        <p></p>
        <select name="tableFieldType" id="tableFieldType" onchange="showTextarea()">
        @for(index <- TableFieldType.values()){
            <option value="@index">@index.getName</option>
        }
        </select>
        <p></p>
        <textarea name="option" id="option" cols="25" rows="6" style="resize: none; display: none;"></textarea>
        <p></p>
        <input type="checkbox" name="tableFieldRequired" id="tableFieldRequired" onclick="checkRequired()"/>Required
        <p></p>
        <input type="checkbox" name="tableFieldActive" id="tableFieldActive"/>Active
        <p></p>
        <a class="btn btn-outline" href="@routes.Application.getAllTableFields()"
            onclick="saveTableFieldAjax('@routes.Application.saveTableField()')">
            <span class="glyphicon glyphicon-pencil"></span>
            @message
        </a>
    </form>
}