@(message: String)

@main("Fields") {
    <a class="btn btn-outline" href="@routes.Application.getTableFieldForm(0)">
        <span class="glyphicon glyphicon-plus"></span>
        Add Field
    </a>

    <script>
        getDataAjax("@routes.Application.getTableFieldsJson(false)");
    </script>

    <table id="entities" class="table table-bordered"></table>
}
