@(message: String)

@main("Responses") {
    <a class="btn btn-outline" href=@routes.ResponseController.getResponseForm("new")>
        <span class="glyphicon glyphicon-plus"></span>
        Add Response
    </a>

    <script>
        getDataWebSocket("@routes.ResponseController.getResponsesStream().webSocketURL(request)");
    </script>

    <table id="entities" class="table table-bordered"></table>
}