@(message: String, id : String)

@main("Response Handler") {

    <script>
      $(document).ready(function() {
        displayTableFieldsAjax("@routes.Application.getTableFieldsJson(true)");
        if ('@id' != 'new'){
          showResponseOnPageAjax("@routes.ResponseController.getResponseJson(id: String)");
        }
      });
    </script>

    <form method="post" name="submit" id="submit">
        @*id is not set*@
        <input type="hidden" name="id" id="id" value="@id"/>

        <div id="tableFields"></div>
        <a class="btn btn-outline" href="@routes.Application.message("Thank you for submitting your data!")"
          onclick="saveResponseAjax('@routes.ResponseController.saveResponse()')">
          <span class="glyphicon glyphicon-pencil"></span>
          Save
        </a>
    </form>
}